@page "/"
@using StaccKodeOppgave.Pages.Components; 

<h1>Velkommen til min kode oppgave</h1>
 
<p> Her har jeg brukt Blazor, som er et rammeverk av Microsoft som bruker C# og HTML. </p>
<p> Azure som skyløsning for autentisering og hosting av Web app og API.</p>
<p> Kunne også autentisert API mot web app med client credentials flow, men droppet dette i denne omgang. </p>
<p> Har ikke fokusert mye på frontend, så er ikke så vakkert som det kunne blitt.</p>