@page "/"
@using StaccKodeOppgave.Pages.Components; 

<h1>Velkommen til min kode oppgave</h1>

<p> Her har jeg brukt Blazor, som er et rammeverk av Microsoft som bruker C# og HTML.
    Valget sto mellom react js og Blazor</p>